<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/comments/<%= comment._id%>?_method=put" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Username</label>
                <input class="form-control" type="text" id="title" value="<%= comment.username %>" readonly>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            
            <div class="mb-3">   
                <label  class="form-label" for="location">comment</label>
                <input class="form-control" type="text" id="location" name="comment[comment]" value="<%= comment.comment %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update comment</button>
            </div>
        </form>
        <a href="/comments/<%= comment._id%>">Back to comment</a>
    </div>
</div>