<% layout('layouts/boilerplate') %>

<body>
    <!-- Content -->
    <h2>Here are all the comments we have in the Database!</h2>
    <ul>
        <% for (let comment of comments) { %>
            <li>
                <a href="/comments/<%=comment._id%>"> 
                    <%= comment.username %> 
                </a>    
            </li>
        <% } %>
    </ul>
        
</body>

